html,body{
    margin: 0;
    padding: 0;
    // width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    background-attachment: fixed;
    background-color: #439A97;
    background-image: url(http://zhongguose.com/img/texture.png);
}

// #E3FDFD
// #CBF1F5
// #A6E3E9
// #71C9CE